$color-primary: rgba(5, 101, 113, 1);
$color-primary-light: rgba(95, 157, 164, 1);
$color-primary-dark: rgba(4, 65, 72, 1);

//$color-primary: #241288;
//$color-primary-light: #2600ff;
//$color-primary-dark: #120750;

$color-black: #000;

$color-white: rgba(255, 255, 255, 1);
$color-grey-dark: rgba(65, 65, 65, 1);
$color-grey-light: rgba(204, 223, 203, 1);

$color-secondary-light: rgba(255, 160, 151, 1);
$color-secondary: rgba(255, 106, 92, 1);
$color-secondary-dark: rgba(163, 68, 59, 1);

$color-contrasting-1: #04480b;
$color-contrasting-dark-1: #011804;
$color-contrasting-2: #480441;
$color-contrasting-dark-2: #180115;
$color-contrasting-3: #480b04;
$color-contrasting-dark-3: #180401;

$grid-width: 114rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 8rem;
